
body{
  background: url("/assets/images/theme.jpg")no-repeat ;
  background-position: center 0;
  background-size: cover;
  background-attachment: fixed;
  background-color: #000;
}

header{
  background-color: white;
}

#logo{
  margin-left: 17%;
  width: 250px;
}
.container{
  padding: 2em;
  margin: auto 14%;
  min-height: 530px;
  height: auto;
  background-color: ghostwhite;
}
h2{
  margin: 0.5em;
  font-size: 1.3em;
}
h3{
  padding-top: 0.5em;
  margin-left: 6%;
}

nav{
  text-transform: uppercase;
  font-size: 13px;
  margin-left:1%;
  margin-top: 20%;
}
nav ul{
  display-list: none;
}
nav ul li{
  display: inline-block;
}
nav ul li a{
  color: #262626;
  font-weight: normal;
  text-decoration: none;
  padding: 0.4em 1em;
  border-radius: 3px;
}
 .user{
  color:deepskyblue;
  border-left: 1px dotted deepskyblue;
   padding-left: 1em;
}
 .login {
   background-color: #080808;
   color: deepskyblue;
 }

nav a:hover{
background-color: #080808;
  color: deepskyblue;
}

#products{
  border-bottom: dashed 1px #cccccc;
}
#description_product{
  margin:10px;
  padding: 20px 30px;
  background-color: white;
}
#select_product {
  background-color: white;
  width: 33%;
  float: right;
  margin: 10px;
  padding: 20px 30px;
}
figure{
  height: 250px;
  width: 250px;
  background-color:#eeeeee;
  padding: 3em 2em;
  margin: 10px auto;
}

.abstract{
  margin: 0.7em;
  font-size: 1em;
}

.name a{
  margin-bottom: 1em;
  text-decoration: none;
  color:deepskyblue;
}
.img_small{
  width: 260px;
  height:auto;
}
#show_product{
  width: 560px;
  height: auto;
}

.category{
  margin: 0.7em;
  text-transform: uppercase;
  font-size: 0.9em;

}
.price{
  margin: 0.8em;
  font-size: 0.9em;
  font-weight: bold ;
}
.published_at{
  margin: 0.7em;
  font-size:0.9em;
  color: teal;
}

.tags{
  margin: 0.7em;
  font-size:0.9em;
  text-transform: capitalize;
}
#quantity{
  margin-left: 1.2em;
}

#contact{
  background-color: white;
  padding: 1em;
  border-bottom: 1px dashed #cccccc;
}
.label{
  margin:  1em auto;
  font-size: inherit;
}

.input-text{
width: 40%;
  height: 2.5em;
  color: #262626;
  border: 1px solid #cccccc;
  background-color: white;
  border-radius: 4px;
}
.text-area{
  width: 40%;
  color: #262626;
  border: 1px solid #cccccc;
  background-color: white;
  border-radius: 4px;
}

#login{
  background-color: white;
  padding: 1em;
  border-bottom: 1px dashed #cccccc;
}

.password{
  width: 40%;
  height: 2.5em;
  color: #262626;
  border: 1px solid #cccccc;
  background-color: white;
  border-radius: 4px;
}

.pagination{
  list-style:none;
  text-align: center;
}
.pagination li{
  display:inline-block;
  padding: 5px;
  margin: auto 5px;

}
.pagination li a{
  text-decoration: none;
}
.pagination li a:hover, .pagination li a:active{
  text-decoration: underline;
}

footer{
  padding:0;
  width: 100%;
  height: 40px;
  background-color: whitesmoke;
}

footer ul{
  list-style: none;
}

footer ul li{
  margin:  auto 1em;
  display: inline-flex;
}

footer ul li a{
  color: #262626;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}
footer ul li a:hover{
  color: deepskyblue;
}

.button{
  background-color: #67b168;
  padding: 0.5em 1.5em;
  text-transform: uppercase;
  margin: 1em auto ;
  border-radius: 4px;
  text-decoration: none;
  border:1px solid #67b168;
  box-shadow: inset 1px 1px 0 #99cb84;
  color:white;
  float:right;
}
.button:hover{
  background-color: #449d44;
  color:white;
}
.button_select{
  background-color: #333333;
  padding: 0.5em 1.5em;
  text-transform: uppercase;
  margin: 1em auto ;
  border-radius: 4px;
  text-decoration: none;
  border:1px solid #67b168;
  box-shadow: inset 1px 1px 0 #262626;
  color:white;
}
.button_select:hover{
  background-color: #262626;
}

.prod_table{
  margin-top: 40px;
}

.prod_table tr th{
  text-align: center;
  color: #5e5e5e;
}

.table_categories th{
  background-color: #c1e2b3;
  color: #2e3436;
  border: 1px solid white;
  padding: 1em;
}

.table_list_products th{
  border: 1px solid  #c1e2b3
}


.price-product-total{
  font-weight: bold;
  margin: auto 1em;
}

.table_histories{
  background-color: #c1e2b3;
  color: #2e3436;
  border: 1px solid white;
  padding: 1em;
}
.alert p{

  text-align: center;
}
.alert a{
  color: deepskyblue;
  text-decoration: none;
  background-color: white;
  padding: 0.5em 2em;
  border-radius: 4px;
  box-shadow: 0px 1px 1px #aaa;
}

#cart_item{
  background-color: white;
  padding: 1em;
  border-bottom: 1px dashed #cccccc;
}

#cart{
  background-color: white;
}
#item{
  height: 150px;
  width: 150px;
  padding: 2em 0.4em;
}
#item_description{
  margin-left: 1em;
  padding-left: 1.5em;
  width: 30%;
}

h4 a{
  font-size: 0.9em;
  font-weight: bold;
  color: deepskyblue;
  text-decoration: none;
}
h4 a:hover{
  text-decoration: underline;
  color: deepskyblue;
}
.name_item a{
  margin:0.5em;
}
.quantity_item{
  font-size: 1em;
  margin: 0.5em;
}
.price_item{
  font-size: 1em;
  margin: 0.5em 1em;
  float: left;
}
.price-product-total{
  font-size: 1em;
  font-weight: bold;
  margin:auto  0.5em;
}

.button_delete{
  background-color: white;
  border-radius: 4px;
  padding: 0.4em 0.8em;
  margin: 0.5em;
  color: #d43f3a;
  border: 1px solid #d43f3a;
  text-transform: uppercase;
  font-size: 0.9em;
}
.button_delete:hover{
  background-color: #d43f3a;
  color: white;
}

#command{
  background-color: white;
}
#command_item{
  background-color: white;
  padding: 1em;
  border-bottom: 1px dashed #cccccc;
}
